<% const d = new Date(); const year = d.getFullYear(); %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <p><a href="/testError">Test 500 Error</a></p>
  <li><a href="/inventory/maintenance">Vehicle Maintenance TEST ONLY ADMIN</a></li>
</footer>
